/* modern-normalize to overwrite default browser styling */
@import 'node_modules/modern-normalize/modern-normalize.css';
/* Universal styles usable throughout the whole project */
:root {
    --primary-blue: #2563EB;
    --primary-text: #4B5563;
    --gray-background: #F8F9FA;
    --white-background: #FFFFFF;
    --center: 0 auto;
    --card-radius: 10px;
    --card-margin: 3rem;
    --card-padding: 8%;
    --font-size: 1.3rem;
}
/* General styling for the body */
body {
    display: flex;
    flex-direction: column;
    background-color: var(--gray-background);
}
/* Start header styling */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 35%;
    align-items: center;
    height: 10%;
    background-color: var(--white-background);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}
header ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 10%;
}
header a {
    text-decoration: none;
    color: var(--primary-text);
    font-size: 1.2rem;
}
header a:hover {
    color: var(--primary-blue);
}
header > h1 {
    color: var(--primary-blue);
}
/* Start main content styling */
.home {
    max-width: 1200px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    margin: var(--center);
    margin-top: var(--card-margin);
}
.home img {
    width: 250px;
    height: auto;
    border-radius: 50%;
}
.home > section:first-child {
    padding: var(--card-padding);
    text-align: center;
    background-color: var(--white-background);
    border-radius: var(--card-radius);
    font-size: var(--font-size);
}