/* modern-normalize to overwrite default browser styling */
@import 'node_modules/modern-normalize/modern-normalize.css';
/* Universal styles usable throughout the whole project */
:root {
    /* Colors */
    --primary-blue: #2563EB;
    --primary-text: #4B5563;
    --gray-background: #F8F9FA;
    --white-background: #FFFFFF;
    --blue-background: #EFF6FF;
    --primary-gold: rgb(246, 210, 4);
    /* Measurements */
    --header-footer-height: 90px;
    --center: 0 auto;
    --card-radius: 15px;
    --card-margin-ver: 1.5rem;
    --card-margin: 1rem;
    --card-padding: 3%;
    --padding-10: 10px;
    --gap-10: 10px;
    --font-size: clamp(1rem, 2vw, 1.25rem);
    --icon-width: 50px;
    --education-icons: 30px;
    --content-padding: 0 10px 20px 10px;
    --invert-image: invert(1) hue-rotate(180deg);
}

/* Start header styling */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 35%;
    width: 100%;
    align-items: center;
    height: var(--header-footer-height);
    background-color: var(--white-background);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
}
header ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 35px;
}
.home-link, .education-link, .experience-link {
    color: var(--primary-blue);
}
header a {
    text-decoration: none;
    color: var(--primary-text);
    font-size: var(--font-size);
}
header a:hover {
    color: var(--primary-blue);
}
header h1 a {
    color: var(--primary-blue);
    font-size: 1.8rem;
}

/* Start Footer styling */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--header-footer-height);
    background-color: var(--white-background);
    box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.1);
}

/* General styling for the body */
body {
    display: flex;
    flex-direction: column;
    font-family: 'roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--gray-background);
    margin-top: var(--header-footer-height);
}

/* Home Page */
/* Start main content styling */
.home {
    display: grid;
    grid-template-rows: repeat(3, max-content);
    margin: var(--center);
    max-width: 70%;
    margin-top: var(--card-margin-ver);
    margin-bottom: var(--card-margin-ver);

}

.home section > img {
    width: 250px;
    height: auto;
    border-radius: 50%;
    padding: 5px;
    border: 5px var(--primary-blue) solid;
}
.home > section {
    padding: var(--card-padding);
    background-color: var(--white-background);
    border-radius: var(--card-radius);
    font-size: var(--font-size);
    margin: var(--card-margin);
}
.home > section:first-child {
    text-align: center;
}
.icons img{
    width: var(--icon-width);
    height: auto;
    margin: 10px;
}
.skills {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--gap-10);
    margin-bottom: var(--card-margin-ver);
}
.skills > h2 {
    width: 100%;
}
.skills h3+div {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-10);
    align-items: center;
    padding: var(--content-padding);
    border-radius: var(--card-radius);
    border: 2px #E5E7EB solid;

}
.skills span {
    margin-top: 20px;
    background-color: var(--blue-background);
    color: var(--primary-blue);
    padding: var(--padding-10);
    border-radius: var(--card-radius);
}

/* Education Page */
/* Start Main content styling */
main {
    width: 60%;
    margin: var(--center);
}
.card {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(auto-fit, max-content); 
    background-color: var(--white-background);
    padding: var(--card-padding);
    border-radius: var(--card-radius);
    margin: var(--card-margin);
    font-size: var(--font-size);
}
.card:last-child{
    margin-bottom: var(--card-margin-ver);
}
.formal{
    border-left: 5px var(--primary-blue) solid;
}
.gold-formal {
    border-left: 5px var(--primary-gold) solid;
}
hr {
    width: 100%;
}
.title {
    display: flex;
    gap: var(--gap-10);
    margin-top: var(--card-margin-ver);
    padding-left: 20px;
}
.title img {
    width: var(--education-icons);
    height: auto;
}
.education > section {
    display: flex;
    flex-direction: column;
}
.date {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.date + h3 {
    color: var(--primary-blue);
}
.label {
    padding: 5px;
    width: max-content;
    color: #000;
    border-radius: 10px;
    background-color: var(--primary-gold);
    font-size: .9rem;
    font-weight: 500;
}

/* Start additional features */
.credentials {
    display: flex;
    width: max-content;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 10px;
    background-color: var(--gray-background);
    border: 1px #000 solid;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    gap: var(--gap-10);
}
.credentials img {
    width: 30px;
    height: auto;
}
